<!DOCTYPE html>
{% if page.url starts with '/en' %}
    {%  set lang = 'en' %}
{% elseif page.url starts with '/de' %}
    {%  set lang = 'de' %}
{% elseif page.url starts with '/fr' %}
    {%  set lang = 'fr' %}
{% elseif page.url starts with '/es' %}
    {%  set lang = 'es' %}
{% endif %}
<html lang="{{ lang }}">
<head>
    {# Required meta tags always come first #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {# Bootstrap CSS #}
    <link rel="stylesheet" href="/assets/managed/bootstrap/css/bootstrap.min.css">

    {# page title #}
    {%if page.title is defined %}
        <title>CLUBS ♣ {{ page.title }}</title>
    {% endif %}

    {# favicons - thanks to realfavicongenerator.net #}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/logos/project/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/images/logos/project/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/logos/project/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/images/logos/project/favicons/manifest.json">
    <link rel="mask-icon" href="/assets/images/logos/project/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/logos/project/favicons/favicon.ico">
    <meta name="msapplication-config" content="/assets/images/logos/project/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {# additional styles #}
    <style type="text/css">
        .institutional-logo {height: 6em; margin: 0.5em}
    </style>

    {# piwik tracking #}
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//pwk.clubs-project.eu/";
            _paq.push(['setTrackerUrl', u+'rew/php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'rew/js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
</head>

    <style>
        @media (max-width: 767px) {
            body {padding-top: 240px}
        }
        @media (min-width: 768px) {
            body {padding-top: 70px}
        }
    </style>

<div class="container">
    <nav class="navbar fixed-top navbar-toggleable-sm navbar-dark bg-dark">

        <div class="navbar-nav d-flex flex-md-row flex-column">
            <a class="navbar-brand" href="{{page.url[0:3]}}"><abbr title="Cross Lingual Bibliographic Search">CLUBS</abbr></a>
            <a class="nav-item nav-link mr-md-3 {% if page.content_id == 'project' %} active{% endif %}" href="/{{ lang }}/">
                {% if lang == 'en' %}
                    Project
                {% elseif lang == 'de' %}
                    Projekt
                {% elseif lang == 'fr' %}
                    Projet
                {% elseif lang == 'es' %}
                    Proyecto
                {% endif %}
            </a>
            <a class="nav-item nav-link mr-md-3 {% if page.content_id == 'approaches' %} active{% endif %}"
                    {% if lang == 'en' %}
                        href="{{page.url[0:3]}}/approaches/"
                    {% elseif lang == 'de' %}
                        href="{{page.url[0:3]}}/ansaetze/"
                    {% elseif lang == 'fr' %}
                        href="{{page.url[0:3]}}/approches/"
                    {% elseif lang == 'es' %}
                        href="{{page.url[0:3]}}/TODO/"
                    {% endif %}
            >
                {% if lang == 'en' %}
                    Approaches
                {% elseif lang == 'de' %}
                    Ansätze
                {% elseif lang == 'fr' %}
                    Approches
                {% elseif lang == 'es' %}
                    TODO
                {% endif %}
            </a>
            <a class="nav-item nav-link mr-md-3 {% if page.content_id == 'project-documentation' %} active{% endif %}"
                    {% if lang == 'en' %}
                        href="{{page.url[0:3]}}/project-documentation/"
                    {% elseif lang == 'de' %}
                        href="{{page.url[0:3]}}/projektdokumentation/"
                    {% elseif lang == 'fr' %}
                        href="{{page.url[0:3]}}/TODO/"
                    {% elseif lang == 'es' %}
                        href="{{page.url[0:3]}}/TODO/"
                    {% endif %}
            >
                {% if lang == 'en' %}
                    Project documentation
                {% elseif lang == 'de' %}
                    Projektdokumentation
                {% elseif lang == 'fr' %}
                    TODO
                {% elseif lang == 'es' %}
                    TODO
                {% endif %}
            </a>
            <a class="nav-item nav-link mr-md-3 {% if page.content_id == 'publications' %} active{% endif %}"
                    {% if lang == 'en' %}
                        href="{{page.url[0:3]}}/publications/"
                    {% elseif lang == 'de' %}
                        href="{{page.url[0:3]}}/veroeffentlichungen/"
                    {% elseif lang == 'fr' %}
                        href="{{page.url[0:3]}}/publications/"
                    {% elseif lang == 'es' %}
                        href="{{page.url[0:3]}}/publicaciones/"
                    {% endif %}
            >
                {% if lang == 'en' %}
                    Publications
                {% elseif lang == 'de' %}
                    Veröffentlichungen
                {% elseif lang == 'fr' %}
                    Publications
                {% elseif lang == 'es' %}
                    Publicaciones
                {% endif %}
            </a>
            <a class="nav-item nav-link mr-md-3 {% if page.content_id == 'team' %} active{% endif %}"
                    {% if lang == 'en' %}
                        href="{{page.url[0:3]}}/team/"
                    {% elseif lang == 'de' %}
                        href="{{page.url[0:3]}}/team/"
                    {% elseif lang == 'fr' %}
                        href="{{page.url[0:3]}}/equipe/"
                    {% elseif lang == 'es' %}
                        href="{{page.url[0:3]}}/equipo/"
                    {% endif %}
            >
                {% if lang == 'en' %}
                    Team
                {% elseif lang == 'de' %}
                    Team
                {% elseif lang == 'fr' %}
                    Équipe
                {% elseif lang == 'es' %}
                    Equipo
                {% endif %}
            </a>
        </div>
        <div class="navbar-nav ml-auto d-flex flex-md-row flex-column">
            <a class="nav-item nav-link mr-2 {% if lang == 'en' %} active{%endif%}" href="/en/{{ site[page.content_id].en }}">EN</a>
            <a class="nav-item nav-link mr-2 {% if lang == 'de' %} active{%endif%}" href="/de/{{ site[page.content_id].de }}">DE</a>
            <!--
            <a class="nav-item nav-link{% if lang == 'fr' %} active{%endif%}" href="/fr/{{ site[page.content_id].fr }}">FR</a>
            <a class="nav-item nav-link{% if lang == 'es' %} active{%endif%}" href="/es/{{ site[page.content_id].es }}">ES</a>
            -->
        </div>
    </nav>
</div>

<div class="container">
    {% block content %}
        {{ page.content }}
    {% endblock %}
</div>

<hr>

<footer>
    <div class="container">
        <div class="d-flex flex-column justify-content-center mt-5">
            <div class="d-flex flex-md-row flex-column justify-content-center align-items-center">
                    <h4 class="mb-3">
                        {% if lang == 'en' %}
                            Partners
                        {% elseif lang == 'de' %}
                            Partner
                        {% elseif lang == 'fr' %}
                            TODO
                        {% elseif lang == 'es' %}
                            Consorcio
                        {% endif %}
                    </h4>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                    {% if lang == 'de' %}
                        <a href="https://www.zpid.de">
                            <img class="img-fluid institutional-logo" style="width:16em; height:6em" src="/assets/images/logos/zpid_de.svg">
                        </a>
                    {% else %}
                        <a href="https://www.zpid.de">
                            <img class="img-fluid institutional-logo" style="width:16em; height:6em" src="/assets/images/logos/zpid_en.svg">
                        </a>
                    {% endif %}
                    <a href="https://www.ibi.hu-berlin.de/">
                        <img class="img-fluid institutional-logo align-self-center" style="width:10em; height:6em" src="/assets/images/logos/hu.svg">
                    </a>
                    <a href="http://fr46.uni-saarland.de/index.php?id=3765">
                        <img class="img-fluid institutional-logo" style="width:16em; height:6em" src="/assets/images/logos/uds.svg">
                    </a>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row mt-5 align-items-md-start align-items-center">
            <div class="d-flex flex-column col-6 col-md align-items-center mb-3 mb-md-0">
                <h4>
                    {% if lang == 'en' %}
                        Funding
                    {% elseif lang == 'de' %}
                        Förderung
                    {% elseif lang == 'fr' %}
                        TODO
                    {% elseif lang == 'es' %}
                        Financiamiento
                    {% endif %}
                </h4>
                {# Leibniz logo #}
                {% if lang == 'de' %}
                    <a href="http://www.leibniz-gemeinschaft.de/ueber-uns/leibniz-wettbewerb/">
                        <img class="img-fluid institutional-logo" src="/assets/images/logos/leibniz_de.svg">
                    </a>
                {% else %}
                    <a href="http://www.leibniz-gemeinschaft.de/en/about-us/leibniz-competition/">
                        <img class="img-fluid institutional-logo" src="/assets/images/logos/leibniz_en.svg">
                    </a>
                {% endif %}
            </div>
            <div class="d-flex flex-column col-6 col-md align-items-center mb-3 mb-md-0">
                <h4>
                    {% if lang == 'en' %}
                        Contact
                    {% elseif lang == 'de' %}
                        Kontakt
                    {% elseif lang == 'fr' %}
                        TODO
                    {% elseif lang == 'es' %}
                        Contacto
                    {% endif %}
                </h4>
                <p>
                    <small><a href="mailto:ramthun@zpid.de">Roland Ramthun &lt;ramthun@zpid.de&gt;</a></small>
                </p>
            </div>
            <div class="d-flex flex-column col-6 col-md align-items-center mb-3 mb-md-0">
                <h4>
                    {% if lang == 'en' %}
                        Imprint
                    {% elseif lang == 'de' %}
                        Impressum
                    {% elseif lang == 'fr' %}
                        TODO
                    {% elseif lang == 'es' %}
                        Aviso legal
                    {% endif %}
                </h4>
                <p>
                    {% if lang == 'en' %}
                        <small>This website is operated by the <a href="https://www.zpid.de/index.php?lang=EN">Leibniz Institute for Psychology Information (ZPID)</a>. The <a href="https://www.zpid.de/index.php?wahl=zpid&uwahl=impress&lang=EN">imprint of the ZPID</a> and <a href="/en/dataprivacy/">our data privacy statement</a> apply.</small>
                    {% elseif lang == 'de' %}
                        <small>Diese Webseite wird vom <a href="https://www.zpid.de">Leibniz-Institut für Psychologische Information und Dokumentation (ZPID)</a> betrieben. Es gilt das <a href="https://www.zpid.de/index.php?wahl=zpid&uwahl=impress">Impressum des ZPID</a> und unsere <a href="/de/datenschutzerklaerung/">Datenschutzerklärung</a>.</small>
                    {% elseif lang == 'fr' %}
                        <small>TODO</small>
                    {% elseif lang == 'es' %}
                        <small>El sitio web está gestionado por el <a href="https://www.zpid.de/index.php?lang=EN">Instituto Leibniz para la Información en Psicología (ZPID)</a>. Es válido el <a href="https://www.zpid.de/index.php?wahl=zpid&uwahl=impress&lang=EN">aviso legal del ZPID</a>.</small>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    </div>
</footer>

</body>
</html>